
**Q1. What are data structures, and why are they important?**  
    Data structure is a way of storing and arranging data in computer. They are very importent because it make program faster, memory efficent and easy to use.

---

**Q2. Explain the difference between mutable and immutable data types with examples.**  
    Mutable data types are those which can be change after creating, like list, dict and set.  
    Immutable data types can not be change, like int, string, tuple. Example: list.append() works but string cannot be modifyed.

---

**Q3. What are the main differences between lists and tuples in Python?**  
    List are mutable, means we can add or remove elements. Tuple are imutable, once created we cannot change.  
    List is made with [ ] and tuple with ( ). Tuples are little faster then list also.

---

**Q4. Describe how dictionaries store data.**  
    Dictionary store data in key:value pair. Inside python it uses hash table to store. It allow very fast access with keys. Example:        --{"name":"Rahul","age":21}

---

**Q5. Why might you use a set instead of a list in Python?**  
    We use set when we want only unique values. Set remove duplicate automatically and checking membership is very fast. List allow duplicates and searching is slow.

---

**Q6. What is a string in Python, and how is it different from a list?**  
    String is sequence of characters which is immutable, cannot be changed after creation. List is sequence of elements which is mutable, we can change or update items.

---

**Q7. How do tuples ensure data integrity in Python?**  
    Tuples are immutable so no one can change its data by mistake. Thats why they help to keep data safe and integrty is maintain.

---

**Q8. What is a hash table, and how does it relate to dictionaries in Python?**  
    Hash table is a data structure where values are stored at positions decided by hash of key. Python dictionary is implemented using hash table only.

---

**Q9. Can lists contain different data types in Python?**  
    Yes list can contain mix data types. Example: [1, "hello", 3.14, True] is a valid list.

---

**Q10. Explain why strings are immutable in Python.**  
    Strings are immutable for many reasons like memory saving, caching and security.  
    If strings are immutable they can be used in hashing also. Once created string object cannot be modifyed.

---

**Q11. What advantages do dictionaries offer over lists for certain tasks?**  
    Dictionary give fast lookup using keys (almost O(1) time).  
    It is more clear when we want mapping between things, like student_name â†’ marks.  
    List only allow index based search which is slower.

---

**Q12. Describe a scenario where using a tuple would be preferable over a list.**  
    Tuple is better when we need fixed collection of items, like coordinates (x,y) or days of week.  
    Also tuple can be used as key in dictionary, list cannot.

---

**Q13. How do sets handle duplicate values in Python?**  
    Set automatic remove duplicate values.  
    For example {1,2,2,3} will become {1,2,3}.  

---

**Q14. How does the `in` keyword work differently for lists and dictionaries?**  
    In list, `in` check if value is present in elements.  
    In dictionary, `in` check only for keys, not for values.  

---

**Q15. Can you modify the elements of a tuple? Explain why or why not.**  
    No, tuple is immutable so its element cannot be changed.  
    But if tuple contain a mutable object like list, that list can be changed inside.  

---

**Q16. What is a nested dictionary, and give an example of its use case.**  
    Nested dictionary means dictionary inside another dictionary.  
    Example: {"student1":{"age":20,"city":"Delhi"}, "student2":{"age":22,"city":"Mumbai"}}  
    Useful for storing data of many objects with detail.  

---

**Q17. Describe the time complexity of accessing elements in a dictionary.**  
    Accessing element by key in dictionary is average O(1).  
    In worst case of hash collision it can be O(n), but mostly it is constant time.  

---

**Q18. In what situations are lists preferred over dictionaries?**  
    List is better when order matters or we want to access using index.  
    Also when data is small and simple sequence, list is easier.  

---

**Q19. Why are dictionaries considered unordered, and how does that affect data retrieval?**  
    Earlier dictionary did not keep any order, only key based access.  
    From Python 3.7 they maintain insertion order, but still conceptually retrieval is by key not position.  

---

**Q20. Explain the difference between a list and a dictionary in terms of data retrieval.**  
    List retrieve elements by index numbers (0,1,2...).  
    Dictionary retrieve elements by keys (like "name" or "id").  
    So dictionary lookup is faster and more clear when we use keys.

In [ ]:
# Q1. Create a string with your name and print it
name = "Aman Sharma"
print("My name is:", name)

My name is: Aman Sharma

In [ ]:
# Q2. Find the length of the string "Hello World"
s = "Hello World"
print("Length:", len(s))

Length: 11

In [ ]:
# Q3. Slice the first 3 characters from "Python Programming"
s2 = "Python Programming"
print("First 3 chars:", s2[:3])

First 3 chars: Pyt

In [ ]:
# Q4. Convert "hello" to uppercase
print("hello".upper())

HELLO

In [ ]:
# Q5. Replace "apple" with "orange" in "I like apple"
text = "I like apple"
print(text.replace("apple", "orange"))

I like orange

In [ ]:
# Q6. Create a list with numbers 1 to 5 and print it
lst = [1, 2, 3, 4, 5]
print(lst)

[1, 2, 3, 4, 5]

In [ ]:
# Q7. Append number 10 to [1, 2, 3, 4]
l2 = [1, 2, 3, 4]
l2.append(10)
print(l2)

[1, 2, 3, 4, 10]

In [ ]:
# Q8. Remove number 3 from [1, 2, 3, 4, 5]
l3 = [1, 2, 3, 4, 5]
l3.remove(3)
print(l3)

[1, 2, 4, 5]

In [ ]:

# Q9. Access the second element in ['a', 'b', 'c', 'd']
chars = ['a', 'b', 'c', 'd']
print(chars[1])

b

In [ ]:

# Q10. Reverse the list [10, 20, 30, 40, 50]
nums = [10, 20, 30, 40, 50]
print(list(reversed(nums)))

[50, 40, 30, 20, 10]

In [ ]:
# Q11. Create a tuple with elements 100, 200, 300
t = (100, 200, 300)
print(t)

(100, 200, 300)

In [ ]:
# Q12. Access second-to-last element of ('red','green','blue','yellow')
t2 = ('red','green','blue','yellow')
print(t2[-2])

blue

In [ ]:
# Q13. Find minimum number in (10,20,5,15)
t3 = (10, 20, 5, 15)
print(min(t3))

5

In [ ]:
# Q14. Find index of "cat" in ('dog','cat','rabbit')
t4 = ('dog','cat','rabbit')
print(t4.index("cat"))

1

In [ ]:
# Q15. Tuple of fruits and check "kiwi"
fruits = ('apple','banana','mango')
print("kiwi" in fruits)

False

In [ ]:
# Q16. Create a set with 'a','b','c'
s1 = {'a','b','c'}
print(s1)

{'c', 'b', 'a'}

In [ ]:
# Q17. Clear all elements from {1,2,3,4,5}
s2 = {1,2,3,4,5}
s2.clear()
print(s2)

set()

In [ ]:
# Q18. Remove element 4 from {1,2,3,4}
s3 = {1,2,3,4}
s3.remove(4)
print(s3)

{1, 2, 3}

In [ ]:
# Q19. Union of {1,2,3} and {3,4,5}
print({1,2,3} | {3,4,5})

{1, 2, 3, 4, 5}

In [ ]:
# Q20. Intersection of {1,2,3} and {2,3,4}
print({1,2,3} & {2,3,4})

{2, 3}

In [ ]:
# Q21. Create dictionary with keys name, age, city
d1 = {"name":"John","age":25,"city":"New York"}
print(d1)

{'name': 'John', 'age': 25, 'city': 'New York'}

In [ ]:
# Q22. Add "country":"USA" to {'name':'John','age':25}
d2 = {'name':'John','age':25}
d2['country'] = "USA"
print(d2)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
# Q23. Access value of key "name"
d3 = {'name':'Alice','age':30}
print(d3['name'])

Alice

In [ ]:
# Q24. Remove key "age"
d4 = {'name':'Bob','age':22,'city':'New York'}
d4.pop('age')
print(d4)

{'name': 'Bob', 'city': 'New York'}

In [ ]:
# Q25. Check if key "city" exists
d5 = {'name':'Alice','city':'Paris'}
print("city" in d5)

True

In [ ]:
# Q26. Create list, tuple and dictionary and print them
my_list = [1,2,3]
my_tuple = (4,5,6)
my_dict = {"a":1,"b":2}
print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3]
(4, 5, 6)
{'a': 1, 'b': 2}

In [ ]:
# Q27. Create 5 random numbers list, sort and print
import random
rand_list = [random.randint(1,100) for _ in range(5)]
rand_list.sort()
print(rand_list)

[22, 59, 83, 100, 100]

In [ ]:
# Q28. Create list of strings and print element at index 3
str_list = ['zero','one','two','three','four']
print(str_list[3])

three

In [ ]:
# Q29. Combine two dictionaries
a = {'x':1,'y':2}
b = {'y':3,'z':4}
combined = {**a, **b}
print(combined)

{'x': 1, 'y': 3, 'z': 4}

In [ ]:
# Q30. Convert list of strings into set
lst_strings = ['apple','orange','apple','banana']
print(set(lst_strings))

{'orange', 'apple', 'banana'}